give the amount of countries that have no more than 3 publications .
which player has the position of guard and from pittsburgh ?
what is the date, when the home team score is 2.4.6 ?
what country was player jack nicklaus from ?
name all opponents and their result who attended the league , has the attendance up to 1,400 ?
what is the away team whose home is victoria in 23 november 2008 ?
what is the place of song "rejection" ?
what is the highest goals against ?
which voltage center ( v ) has an s-spec number of sk047 ?
Display the avg and total amount of viewers by season
what is the original air date of series which has the max viewers ?
what is the next most in total seats before the election 1954?
show the air date of the greatest love and promised land.
of the players from united states, who has the earliest year from .
which stadium in penrith has crowd more than 5500 ?
which player is current in union olimpija ?
show all the incumbents in the district whose result is lost re-election republican gain
how many different chassises in the list ?
compare result of date 7 to date 8 .
how many teams is men's above 100 ?
which athletics has the nickname of central state marauders ?
name the series of season 2006 which has the most wins
what's the gap in evening gown between louisiana and missouri ?
of names when elevation is feet (m), whose gnis feature is 1417308 ?
compare the ends won, ends lost and blank ends of colleen pinkney to mary-anne arsenault.
what's the difference tries for and tries against of team newport
sum of the men's from teams which rank in top 3 ?
how many format name has the bit depth, in which has a video bit rate of 25 (cbr), and 4:1:1 as color sampling ?
which is the most recent, of original air dates have u.s. viewers more than 19 ?
what is the tonnage of the sunk ship named rinos ?
which incumbents is the longest to rretired republican gain.
Among broadcasters with the colour commentator harry neale, how many broadcasters with the studio host ron maclean ?
show astronauts who have top 3 number of total evas in the list
List the titles with viewers greater than 5.02 and sort by viewers in ascending order .
name the mccain % for counties excluding dukes .
compare the amount of tournaments in doha with berlin.
which position has a player of bernard thompson in the position of centre ?
what was the score for a game played @ nashville predators ?
Display all the states with the average greater than 9.099 and sort by swimsuit.
what's the largest city of the province is the largest in area
sum of the silver medals for all ensembles
just show the average of wkts which have more runs than 100 .
what is the number of titles produced between june30,2006 and july11,2006
when was the game played when the record was 20-6-6 ?
The smallest number of votes in all elections
show all seasons, series and wins which has points more than 13 and wins below 3
how many players are in the position of te in the college laval
which score has high assists besides rodriguez ?
who is the writer of "crime seen" ?
how many players who has ever in 1st rank are from county cork
how many different teams are listed whose sec wins is more than 5?
what is the total number of position?
what score did new jersey devils got in the game 64 and 65
how many elections have been held in 1937
of books published by artist which has already published two books, which is published later?
what is the competition of event dicus which occur in shenzhen ?
what is the total number of playoffs held in 2006 to 2008
show player above 6' 6" height by weight descending
what is the 2nd lowest no . in series ?
what is the location at the last of the list?
which institution founded earlier than 80% institutions ?
In artists which created the song evertown or stone, who have more televotes ?
which challenge was the last, if sorted by the original airdate ?
in the german formula three 2007 season, how many points were there?
which provinces has top 3 arabs 2001
Among titles produced during the time from june25,2004 to october22,2005, which one has the most u.s. viewers ?
name the english title of drama whose chinese title is "心花放" and "刑警" and "十兄弟" .
what nationality is the player from who has the most round ?
what laps does the rider which uses the least tie get when finish ?
may I see all the results grouped by date ?
what score occurred on february 9 ?
show number of players of every starter status
name colleges did the player picked 57 attend ?
show the teams whose total is over 200 .
sum of highest values grouped by venue.
list the home record, overall record and percentage of team florida
which nationality has the least round ?
what is the country of player who gets the most money and the first place in the list .
what's the original air date of the title directed by peter tolan and written by evan reilly
which player made the least amount of filed goals and what is the amount?
what is the average of highest and lowest value for venue mcg
Is obama votes larger than mccain votes in county barnstable ?
sorted studios that has more than $86,160,248 in grossby gross
Is ontario has the biggest number of % 2011 ?
list the season which came in 1st position.
when decision is raycroft , sum of all scors .
which up/down is the highest ?
What is the top 2 height on the defensive end?
what seasons has won no more than 80 points
how many teams has the average attendances above 400 ?
which title owns the production code between 447003 and 447007 ?
how many games have a location of memorial stadium
what total time did fincke michael fincke stay
what was the last title to be produced according to the original air date in ascending?
what name has a mark less than mark 8.19 ?
what is the largest floors when the building type is residential and the sr no is 8 ?
the place of artist laiptai .
which teams gained the largest goal difference ?
what's the gap of tries for and tries against of team bourgoin
which team joined tschl before 2010 ?
total amount of crowd for all date for all cities .
what is the player and the tallest height in union olimpija ?
sum the attendances of war memorial stadium.
how many road wins did pittsburgh steelers have ?
what is the score of player which had a position of t1 and played in the united states?
compare sum of all crowd from penrith to london
in ensembles which has zero gold medals and two silver models , which has more total medals than 5 ?
sort week by the number of attendance in descending order, and take the top 3 weeks whose attendance was larger than 80,000
Among chassises except lola t92/00, count the chassises with team pagan racing .
which the week has the result of l 20–7 ?
who had high assists on november 13 ?
how many viewers watched the drama of the academy?
let me see the place of player ian woosnam .
how many different processor speed listed here by processor speed descending?
how many titles are listed here of which are from studio columbia
sum total wins and poles every team in season 1991
on the leaderboard, how many players got to par less than -2 ?
what heat did michael phelps receive ?
show the writer of episode 17 in the season
show title directed by martin wood by no. in season ascending
ordered by the points from large to small, show the visitors and homes.
how many league cups do not have detailed report?
which player has served as the position excluding defensive back?
for dartmouth high school, sum the silver medals and bronze medals
what 's the record with high points being dwyane wade 27 .
List all the songs with total greater than 60 and sort by televote.
name the location attendance for l 109 -- 112 ( ot )
split these titles into different groups by #
is kent state university in the same location as university of akron ?
how many challenge winners are food ?
which record has a game larger than 15 , and points larger than 20, and a november of 7 ?
List all teams that won 5 times on the podium
compare the record when vancouver was the visitor to los angeles .
Are there just one institution use the bird arena
how many riders use the bike ducati 999 f05 ?
what was the second year that Maple Leafs won their opponent?
show the directors of titles excluding "me donkey want water" and "poor man's paradis" .
what positions were players except marty gateman in ?
the average televotes of artists received more than 20 televotes.
name the hdtv in n° 369
which writer has created more titles, john scurti, or sean nash
show top 1 college ranked by number of cfl teams.
Show the average total of couples with result safe
in the game 71, what score did new jersey devils get
name the number of high rebounds for philips arena 13,200
how many scores did home pittsburgh win ?
how many of riders who are not retirement have the bike of yamaha yzf-r1 ?
for each director and writer, display the production code they produced
for each former team, how many players there?
what stations is in london midland opened in 1989 ?
who was the other party nominee that ran against democratic bill day
which is the tallest among commercial buildings ?
list the top 3 positions from united states ?
what are the countries with score 65, 68 and 69.
what is nigel connell rank ?
how many players have a score less than 74-68-72-71=285 ?
show amount of result nominated per year
show the date and record when playing milwaukee ?
sort the venues using value of total.
compare the amount of players who is from netherlands to nationalities except netherlands .
average time using by the best rank swimmers .
show the roles sorted by their year inducted as the order from early to late
average of the number of total in teams excluding ust growling tigers .
what is the name of student newspaper of Ohio University ?
which player runs were in the top of all.
what is the highest swimsuit that has an evening gown bigger than 8.794 ?
sum of televotes which are for top 10 place in the final contest receive.
Is there any title belongs to writer nancy miller
was justin blackmon in wide receiver ?
what is the team nickname when the institution is indiana university of pennsylvania ?
what is the draw number of laura ?
how many of seasons when the title "unsung heroes" was released ?
which positions has a higher amount of players than safety ?
count of member states whose population in thousands more than 10000 ?
which year does publications named rolling stone released ?
what is the highest value for game , when points is 16 , and when attendance is greater than 19,289 ?
group these locomotive based on the type
in season 1988, 1989, 1990, show sum of poles for each team
how many games got the score of 5 - 2?
how many times is shawn seet listed on this chart?
what are the players that has a to par not –1 ?
show the sum of laps of the yamaha yzf-r1.
what was the original air date of the episode written by charles mcdougall ?
show names sorted by sr no in descending order .
how many enrollment does the school which are in the greentown have ?
which venue could host up to 42 ?
after year 1995, which event has the best position ?
compare the number of titles directed by martin wood with chris mcmullen
what is the total number of institutions joined before 1871 ?
when the document docd is greater than 5581, show all titles .
show the high points on date december 25
show players which has a score smaller than 69 for all places.
sum of jsp for every different document docd.
split these titles into different groups by their no.disc in descending order
what is the school/country of the player listed that played in 1996 ?
what is the sum of women's when men's is less than 113 , the team is ue red warriors and the rank is higher than 6 ?
how many titles are directed by kari skogland ?
which nationality is next to the the rank of netherlands ?
what date is listed next to october 11?
between year 1999 and 2007, how many competitions happened here ?